<div class="wrapper">

  <!-- Present the following content in a card. -->

  <div class="card" style="width: 24rem;">

  <img src="/img/3.jpeg">
    <div class="card-body">

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, iure laborum id vitae eius enim doloremque! At tempore iusto autem velit quas, voluptatem, fugit cumque, aspernatur voluptate delectus assumenda dolorem.</p>
</div>

    <div class="card-body">

  <ul class="list-group">
    <li class="list-group-item list-group-item-primary">Mercury</li>
    <li>Venus</li>
    <li>Earth</li>
    <li>Mars</li>
    <li>Jupiter</li>
    <li>Saturn</li>
    <li>Uranus</li>
    <li>Neptune</li>
    <li>Pluto</li>
  </ul>
</div>
</div>

<style>
  .wrapper {
    width: 400px;
    max-width: 100%;
  }
</style>

<%# 
keyboard shortcut: 
type div.container
<div class="container"></div> %>
